# place in /etc/systemd/system/
[Unit]
Description=Service to publish the video stream of a camera

[Service]
Type=simple
Restart=always
RestartSec=60
User=<your-user>
WorkingDirectory=~
ExecStart=/bin/bash -c 'PATH=~/.local/bin:$PATH exec stream-web-provider'

[Install]
WantedBy=multi-user.target